[submodule "assets/MaaCommonAssets"]
	path = assets/MaaCommonAssets
	url = https://github.com/MaaXYZ/MaaCommonAssets
[submodule "deps/MaaFramework"]
	path = deps/MaaFramework
	url = https://github.com/MaaLW/Maafw-prebuilt.git
